<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <input type="search" ng-model="busca">
    </form>
    <a class="btn btn-outline-info" href="#/cadastroProduto">Novo Registro</a>
</nav>
<div class="col-md-6">

    <table ng-show="produtos.length > 0" class="table table-bordered" ng-init="lista()">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Comentário</th>
                <th>Altura</th>
                <th>Largura</th>
                <th>Profundidade</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="produto in produtos | filter:busca">
                <td>{{produto.id}}</td>
                <td>{{produto.descricao}}</td>
                <td>{{produto.preco}}</td>
                <td>{{produto.comentario}}</td>
                <td>{{produto.altura}}</td>
                <td>{{produto.largura}}</td>
                <td>{{produto.profundidade}}</td>
                <td>
                    <button class="btn btn-success btn-xs" ng-click="editar(produto.id, produto.descricao, produto.preco, produto.comentario. produto.altura. produto.largura, produto.profundidade)">
                        <span class="glyphicon glyphicon-edit">Editar</span>
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger btn-xs" ng-click="deletar(produto.id)">
                        <span class="glyphicon glyphicon-trash">Excluir</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>